.container {
  max-width: 1120px;
  margin: 2rem auto 0;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  gap: 2.5rem 2rem;

  .section {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      font-weight: 600;
    }

    hr {
      width: 100%;
    }
  }

  .disciplinas {
    width: 220px;
    height: 200px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      transform: translate(0, -.5rem);
      box-shadow: 0 10px 36px rgba(0, 0, 0, .3);
    }
  }
}